<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <title></title>
</head>

<body style="
      font-family: Helvetica, sans-serif;
      background-color:#F6F5F5;
      padding: 30px 0;
    ">
<center class="wrapper" style="width: 100%; table-layout: fixed">
    <div class="webkit" style="display: block; max-width: 600px">
        <table class="outer" align="center" cellpadding="0" cellspacing="0" style="
            background-color:rgba(231, 182, 255, 1);
            width: 100%;
            border-spacing: 0;
            font-family: Nunito, sans-serif;
            display: block;
            margin: 40px 0;
          ">
            <tbody class="top-bg" style="display: inline-block; width: 100%">
            <tr style="
                display: block;
                width: 100%;
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
               
              ">
                <td style="width: 100%; display: block;">
                    <div style="
                width: 100%;
                display:inline-block; 
                margin:0 auto; 
                margin-top:3%;
                background-position: center top;
                text-align:center
                ">
                        <img style="display:inline-block; height:35%; width:35%;"
                             src="https://storage.googleapis.com/stroynews-prod/glucovie/FullLogo_Transparent_NoBuffer.png"
                             alt="Logo GlucoVie">
                    </div>
                    <div style="display: block; margin: 0 8%">
                        <table class="outer" align="center" cellpadding="0" cellspacing="0" style="
                      width: 100%;
                       background-repeat: no-repeat;
                      background-position: center top;
                      background-size: contain;
                      height: 560px;
                    ">
                            <tbody class="top-bg" style="display: inline-block; width: 100%">
                            <tr style="display: block; width: 100%">
                                <td style="width: 100%; display: block">
                                    <div style="
                          width: 125px;
                          height: 125px;
                          border-radius: 50%;
                          background-position: center top;
                          margin: 0 auto;
                          background-size: contain;
                          margin-top: 10%;">
                                       
                                    </div>
                                    <div style="width: 100%; text-align: center">
                                        <p style="
                              font-family: Nunito;
                              font-size: 24px;
                              font-weight: 700;
                              line-height: 32px;
                              ">
                                            Nivelul săptămânal de glicemie
                                        </p>
                                    </div>
                                    <div style="width: 100%; text-align: center">
                                        <h3 style="
                              font-family: Nunito;
                              font-size: 18px;
                              font-weight: 400;
                              line-height: 24px;
                              ">
                                            <b>Pacientul: </b><i>Vinari Ana</i><br>
                                            <b>Data: </b><i>{{.Date}}</i><br><br>

                                            <b><i>Luni:</i></b><i> {{.Luni}} <b>mmol/L</b></i><br>
                                            <b><i>Marți:</i></b><i> {{.Marti}} <b>mmol/L</b></i><br>
                                            <b><i>Miercuri:</i></b><i> {{.Miercuri}} <b>mmol/L</b></i><br>
                                            <b><i>Joi:</i></b><i> {{.Joi}} <b>mmol/L</b></i><br>
                                            <b><i>Vineri:</i></b><i> {{.Vineri}} <b>mmol/L</b></i><br>
                                            <b><i>Sâmbătă:</i></b><i> {{.Sambata}} <b>mmol/L</b></i><br>
                                            <b><i>Duminică:</i></b><i> {{.Duminica}} <b>mmol/L</b></i><br>
                                        </h3>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display: block; width: 100%">
                                <td style="width: 100%; display: block">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="display: block">
                <td style="display: block">
                    <div style="
                    display: block;
                    width: 100%;
                    height: 20px;
                    text-align: left;
                    margin-bottom: 10%;
                    margin-left: 5%;
                  ">
                        <p>Cu Respect,<br>
                            Echipa GlucoVie</p>
                    </div>
                    <div style="width: 100%; text-align: center">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>
</body>

</html>